{% extends "layout.html" %}

{% block main %}
    <h3>Compound Interest Details</h3>
    <div class="results">
        <p>After saving <span class="em">${{principal}}</span> for <span class="em">{{time}}</span> year(s) at an annual interest rate of <span class="em">{{rate}}%</span> compounded <span class="em">{{period}}</span>, you will have <span class="em">${{total}}</span>, earning <span class="em">${{interest}}</span> in interest.</p>
    </div>
    <br>
    <h3>Graph of Interest Accumulated Over Time</h3>
    <div class="horizontal-scroll">
        <div class="ct-chart ct-bar" id="compoundchart"></div>
    </div>
    <br>
    <script>
        arr = [];
        for (let i = 1; i < {{periods}} + 1; i++) {
            arr.push(i.toString())
        }
        new Chartist.Bar("#compoundchart", {
            labels: arr,
            series: [
                {{chartinterests}}
            ]
        }, {
            stackBars: true,
            width: {{width}},
            height: "500px"
        });
    </script>
    <script>
        var $tooltip = $('<div class="tooltip tooltip-hidden"></div>').appendTo($('#compoundchart'));

        $(document).on('mouseenter', '.ct-bar', function() {
            var seriesName = "Total Interest",
                value = (Math.round($(this).attr('ct:value')*100))/100;
            if (!isNaN(value)) {
                $tooltip.text(seriesName + ': $' + value);
                $tooltip.removeClass('tooltip-hidden');
            }
        });

        $(document).on('mouseleave', '.ct-bar', function() {
            $tooltip.addClass('tooltip-hidden');
        });

        $(document).on('mousemove', '.ct-bar', function(event) {
            console.log(event);
        });
    </script>
{% endblock %}